* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

nav{
    text-align: right;
    padding: 5px;
}

.link-borda{
    border-right: 1px solid black;
    padding: 0 5px;
}