<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="../../assets/estilos/header.css">
</head>
<body>
    <nav id="#topo">
        <a class="link-borda" href="../../" target="_top">HOME</a>
        <a class="link-borda" href="../../eventos/" target="_top">EVENTOS</a>
        <a class="link-borda" href="../../contato/" target="_top">CONTATO</a>
        <a class="link-borda" href="../../sobre/" target="_top">SOBRE</a>
        <a href="../../entrar/" target="_top">ENTRAR</a>
    </nav>
    <img src="../../assets/images/Logo.jpg" alt="Logo do IFSP">
</body>
</html>